@model IEnumerable<Xgame.Db.Entities.AppUser>
<h2>List of Users</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">permissions</a>
            </td>
        </tr>
    }
</table>