@model string

<!DOCTYPE html>

<html>
<head>
    <title>Access Denied</title>
</head>
<body>
    <div class="container text-center">
        Access Denied - <a href="/Account/Login">Login</a>
    </div>
</body>
</html>