@model IEnumerable<Question>


<h2>Welcome @ViewBag.UserName</h2>
@using (Html.BeginForm("Create", "Question", FormMethod.Get))
{
    <p>
        <input type="submit" value="Add a new question" />
    </p>
}
<h3>@ViewBag.Id</h3>
<h4>Index.cshtml</h4>

@foreach (var question in Model)
{    
   @Html.Partial("Questions", question)
}
