@model Xgame.Model.LoginViewModel

<h2>Log In</h2>

@using (Html.BeginForm("People", "Home"))
{
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br>
    <div>
        <input type="submit" value="Log in" />
    </div>
}
