@model Xgame.Model.QuestionCreateModel

@using (Html.BeginForm("Create", "Question", FormMethod.Post))
{
    @Html.LabelFor(m => m.QuestionText, "Question")
    <br />
    @Html.TextAreaFor(m => m.QuestionText, new { rows = "5", cols = "100" })
    <br /> <br />
    @Html.LabelFor(m => m.AnswerText, "Answer")
    <br />
    @Html.TextAreaFor(m => m.AnswerText, new { rows = "5", cols = "100" })
    <br /><br />
    <p><input type="submit" value="Submit" /></p>
}
