@model QuestionRejectModel

<div class="container">
    <h4>Please provide reason of rejection</h4>
    <hr />
    <form asp-action="Reject" asp-controller="Question" asp-route-id="@Model.Id" method="post">
        <input type="hidden" value="@Model.Id" name="Id" />
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2">
                    <h4>Reject reason:</h4>
                </div>
                <div class="col-xs-10">
                    <textarea asp-for="@Model.RejectReason" class="form-control" rows="5" id="comment"></textarea>
                </div>
            </div>
        </div>
        <div align="right">
            <button type="submit" class="btn btn-danger">Reject</button>
            <a class="btn btn-primary" asp-controller="Question" asp-action="QuestionList">Return</a>
        </div>
    </form>    
</div>
